@import 'tailwindcss';
@plugin "daisyui" {
  themes: all;
}

/* Add cursor pointer to button by default this is comming from tailwind docs */
@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}
